@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {

    margin: 0px;
    padding: 0px;

}

.container {

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #14213d;
    font-family: 'Roboto Condensed', sans-serif;

}

.game-title {

    margin: 0px;

    width: max-content;
    height: min-content;

    position: relative;
    top: 20%;
    left: 20%;

    color: white;
    font-size: 5em;

}

.button-container {

    margin: 0px;

    width: max-content;
    height: max-content;

    position: relative;
    top: 40%;
    left: 20%;

}

.menu-button {

    width: 8em;
    height: 4em;

    margin-right: 1em;

}

.options-menu {

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #14213d;
    color: white;
    z-index: 1000;

    font-family: 'Roboto Condensed', sans-serif;

}

.hidden {

    display: none;

}

#close-options {

    position: absolute;
    top: 1.5%;
    left: 95%;

    width: max-content;
    height: max-content;

}

#close-options:hover {

    cursor: default;

}

.lil-gui.autoPlace { /* gui touching border */

    right: 0px !important;

}